body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

.hideForm {
  display: none;
}
button {
  padding: 10px;
  margin: 5px;
  background-color: azure;
  border: none;
  border-radius: 30px;
}
.submit {
  padding: 10px;
  margin: 5px;
  background-color: azure;
  border: none;
  border-radius: 30px;
}
button:hover {
  cursor: pointer;
}
.card {
  background-color: azure;
  color: cadetblue;
  padding: 50px;
}
