body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 9% auto;
}

.hideForm {
  display: none;
}
.form {
  font-size: 30px;
}
button {
  padding: 10px;
  margin: 5px;
  background-color: azure;
  border: none;
  border-radius: 30px;
}
.submit {
  padding: 10px;
  margin: 5px;
  background-color: azure;
  border: none;
  border-radius: 30px;
}
button:hover {
  cursor: pointer;
}
form {
  padding: 30px;
}
.card {
  background-color: azure;
  color: rgb(6, 150, 155);
  padding: 50px;
  margin-right: 100px;
  margin-left: 100px;
}
